.preloader {
    height: 100vh;
    width: 100%;
    background: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-style: italic;
    background-image: url("/src/assets/Loader_bg.png");
    background-size: cover;
    background-position: center;
}

/* Make background image responsive */
@media (max-width: 768px) {
    .preloader {
        background-size: contain;
    }
}

.preloader .texts-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%; /* Adjust width for smaller screens */
    max-width: 650px; /* Limit width for larger screens */
    font-size: 24px; /* Adjust font size for smaller screens */
    font-weight: 800;
    overflow: hidden;
    color: #A4EAFF;
    font-style: italic;
}

/* Media query for to smaller screens */
@media (min-width: 320px) {
    .preloader .texts-container {
        font-size: 21px; /* Increase font size for medium screens */
    }
}
/* Media query for smaller screens */
@media (min-width: 640px) {
    .preloader .texts-container {
        font-size: 28px; /* Increase font size for medium screens */
    }
}

/* Media query for larger screens */
@media (min-width: 1024px) {
    .preloader .texts-container {
        font-size: 35px; /* Increase font size for larger screens */
    }
}
